@import "tailwindcss";


@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";



/* Custom Slick Slider Dots */


:root {
  --redColor: #db4444;
  --greyColor: #F5F5F5;
}






.CarouselSection .slick-dots {
  bottom: 10px;
}


.CarouselSection .slick-dots>li.slick-active button:before {
  opacity: 100%;
  background: var(--redColor);
  border: 2px solid #ffffff;

}

.CarouselSection .slick-dots li button:before {
  line-height: 20px;
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  content: '';
  opacity: .50;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* border: 2px solid #ffffff; */
  top: 33%;
  left: 30%;
  border-radius: 50%;
  background: #ffffff;
}





.cardParent:hover {
  /* border-radius: 20px 20px 0px 0px; */
  box-shadow: 2px 0px 19px 2px #00000036;
  transition: 0.1s all ease-in-out;
}

.cardParent:hover .AddToCart {
  bottom: 0%;
  /* transition: 0.2s all ease-in-out; */
}

.AddToCart {
  transition: 0.2s all ease-in-out;
}


.card_slider .slick-prev:before,
.card_slider .slick-next:before {
  line-height: 1.1;
}

.card_slider .slick-prev,
.card_slider .slick-next {
  background-color: black;
  border-radius: 100%;
  width: 19px;
  height: 19px;

}


.card_slider .slick-slide div:has(.cardParent_btn) {
  position: absolute;
  min-height: 95%;
  width: 100%;
}

.cardParent_btn{
  position: inherit;
  min-height: 100%;
}